<% content_for :javascript_includes do %>
 <%= javascript_include_tag "static_pages.js" %>
<% end %>
<% unless session[:coords] %>
  <script>getNearby()</script>
<% end %>
<div class="row" style="text-align: center;">
  <div >
    <h1 style="font-size: 76px; font-weight: bold;">PickUp!</h1>
  </div>
</div>

<div class="row">

  <form action="<%= events_url %>" method="GET" style="text-align: center;"> <!-- Need to get the right form action / route here -->
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for "distance">
        Find stuff to do within
        <select id="distance" name="distance">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select> miles of my location
      </label>
    <div class="home-buttons">
      <button
        class="btn btn-primary btn-lg btn-warning"
        >
        Join a Pickup
      </button>
    </div>
  </form>

  <div class="home-buttons">
    <a href="<%= new_event_url %>">
      <button
        method="get"
        class="btn btn-primary btn-lg btn-info">
        Host a Pickup
      </button>
    </a>
  </div>
</div>