

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Pickup Events
                <small>Close to your location</small>
            </h1>
        </div>

    </div>
  
			
			<%= render "events", :events => @events  %>
			
			<%= link_to 'Load More Events', events_path(:page => @events.next_page), :class => 'load-more-events', :remote => true if @events.next_page %>

    <hr>

    <div class="row text-center">

        <div class="col-lg-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a>
                </li>
                <li class="active"><a href="#">1</a>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li>
                <li><a href="#">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Company 2013</p>
            </div>
        </div>
    </footer>

</div>